<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">Listado de Cuentas</span>
                    <button class="btn btn-success float-right" routerLink = "">Crear Cuenta</button>
                    <table class="table table-striped mt-5">
                        <thead>
                          <tr>
                            <th scope="col">Id</th>
                            <th scope="col">e-mail</th>
                            <th scope="col">Saldo</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>chqc11@gmail.com</td>
                            <td>10000</td>
                            <td>
                                <i class="fas fa-edit text-primary"></i>
                                <i class="fas fa-trash text-danger"></i>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>chqc12@gmail.com</td>
                            <td>20000</td>
                            <td>
                                <i class="fas fa-edit text-primary"></i>
                                <i class="fas fa-trash text-danger"></i>
                                
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td >chqc13@gmail.com</td>
                            <td>30000</td>
                            <td>
                                <i class="fas fa-edit text-primary"></i>
                                <i class="fas fa-trash text-danger"></i>
                                
                            </td>
                          </tr>
                        </tbody>
                      </table> 
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card">
                
            </div>
        </div>
    </div>
</div>
